@keyframes show {
    from {height: 5.5vh; margin-top: 2vh;}
    to {height: 20vh; margin-top: 2vh;}
}

.graduallyShown {
    animation-name: show;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes twinkle1 {
    0%, 100% {background-color: rgba(255, 255, 255, 0.1);}
    50% {background-color: rgba(255, 255, 255, 0.2); transform: translate(0, -10px);}
}
@keyframes twinkle2 {
    0%, 100% {background-color: rgba(255, 255, 255, 0.1);}
    50% {background-color: rgba(255, 255, 255, 0.2); transform: translate(0, 10px);}
}

@keyframes twinkle3 {
    0%, 100% {background-color: rgba(255, 255, 255, 0.05);}
    50% {background-color: rgba(255, 255, 255, 0.2); transform: translate(0, 20px);}
}

.twinkling1 {
    animation: twinkle1 3s infinite;
}
.twinkling2 {
    animation: twinkle2 3s infinite;
}
.twinkling3 {
    animation: twinkle3 3s infinite;
}

@keyframes fly1 {
    0% {left: -20px; top: 80vh;}
    10% {top: 70vh;}
    40% {top: 50vh;}
    60% {top: 60vh;}
    100%{left: 100vw; top: 10vh;}
}
@keyframes fly2 {
    0% {left: -20px; top: 20vh;}
    10% {top: 30vh;}
    40% {top: 50vh;}
    50% {top: 40vh;}
    100%{left: 100vw; top: 10vh;}
}

.flying1 {
    animation: twinkle3 6s infinite, fly1 30s infinite;
    animation-timing-function: linear;
}
.flying2 {
    animation: twinkle3 5s infinite, fly2 40s infinite;
    animation-delay: 5s;
    animation-timing-function: linear;
}

@keyframes silverToBlack {
    from {color: silver;}
    to {color: black;}
}
.focused {
    animation: silverToBlack 1s ease;
    animation-fill-mode: forwards;
}

@keyframes refresh {
    50% {opacity: 0;}
    0%, 100% {opacity: 100%;}
}
.refreshed {
    animation: refresh 0.5s ease forwards;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100%;}
}
.appeared {
    animation: appear 1.5s forwards;
}

@keyframes skillImageChangesColor {
    0% {background-color: transparent; opacity: 1;}
    30% {background-color: transparent; opacity: 0.8;}
    100% {background-color: rgba(255, 255, 255, 0.5); opacity: 1;}
}
.skillImageChangesColor {
    animation: 1s forwards skillImageChangesColor;
}
@keyframes skillNameChangesColor {
    0%, 100% {color: transparent;}
    33%, 66% {color: white;}
}
.skillNameChangesColor {
    animation: skillNameChangesColor 1s forwards;
}

@keyframes skillImageResets {
    from {background: rgba(255, 255, 255, 0.5);}
    to {background-color: transparent;}
}
.skillImageUnhovered {
    animation: skillImageResets 1s forwards;
}
