@keyframes show {
    from {height: 1em; margin-top: 5vh;}
    to {height: 13.5em; margin-top: 5vh;}
}

.graduallyShown {
    animation-name: show;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
