html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.mainBody {
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
}

.background {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.lightgrey {
    background-color: rgb(250, 240, 230);
}
.transparent {
    background-color: transparent;
}
.white {
    background-color: white;
}


/* ABOUT ABOUT ABOUT ABOUT ABOUT *//* ABOUT ABOUT ABOUT ABOUT ABOUT *//* ABOUT ABOUT ABOUT ABOUT ABOUT */
#about {
    top: 0;
    left: 0;
}

.aboutBackground {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("../img/background.jpg");
}
.decors {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    filter: blur(1px);
    position: absolute;
}

#decor1 {
    left: 30vw;
    top: 20vh;
    width: 15px;
    height: 15px;
}
#decor2 {
    left: 80vw;
    top: 40vh;
    width: 10px;
    height: 10px;
}
#decor3 {
    left: -20px;
    top: 80vh;
    width: 20px;
    height: 20px;
}
#decor4 {
    left: -20px;
    top: 20vh;
    width: 20px;
    height: 20px;
    blur(10px);
}
#decor5 {
    left: 10vw;
    top: 50vh;
    width: 10px;
    height: 10px;
}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR *//* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR *//* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */
.navbar {
    /* background-color: rgb(227, 227, 227); */
    margin: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 2;
}

.navButton {
    width: 10vw;
    padding: 0 1vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    font-size: 0.9vw;
    height: 100%;
    align-items: center;
}

.navButton>h1 {
    font-weight: bold;
}

.navButton, .navButton:visited {
    text-decoration: none;
    color: silver;
}

.navButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
    .navButton {
        font-size: 1.7vw;
        marin: 0 1vw;
        width: 15vw;
    }
}

/* ABOUT BODY ABOUT BODY *//* ABOUT BODY ABOUT BODY *//* ABOUT BODY ABOUT BODY *//* ABOUT BODY ABOUT BODY */
.aboutgrid {
    display: grid;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1vw;
}

.aboutleftCol {
    grid-column: 1/2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutrightCol {
    grid-column: 2/3;
    height: 100vh;
    padding: 0 2.5vw;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.name>p {
    width: 100%;
    font-size: 6vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    margin-bottom: 1vh;
    text-align: center;
    color: silver;
}
#responsiveLB {
    display: none;
}

.contact>p {
    width: 100%;
    font-size: 1vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    color: silver;
    margin: 5px 0;
    text-align: center;
}

.iconbox {
    margin: 20px;
}
.icon {
    width: 2vw;
    height: 2vw;
    opacity: 0.75;
}

.about>p {
    width: 100%;
    height: 0;
    font-size: 2vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    color: silver;
    margin-top: 0vh;
    text-align: center;
    padding: 0 1.5vw;
    overflow: hidden;
}

.learnMoreButton {
    border-radius: 15px;
    border: solid silver 2px;
    padding: 10px;
    cursor: pointer;
}

.learnMoreButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.learnMoreButton>p {
    width: auto;
    color: silver;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.guitarphotoframe {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

#myPhoto {
    width: 100%;
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
    .aboutBackground {
        background: rgb(0, 0, 0);
    }
    .aboutgrid {
        grid-template-columns: 1fr;
    }
    .aboutleftCol {
        grid-column: 1/2;
        height: 90vh;
    }
    .aboutrightCol {
        display: none;
    }
    .name>p {
        font-size: 15vw;
    }
    .contact>p {
        font-size: 3vw;
    }
    .about>p {
        width: 50%;
        font-size: 3vw;
        text-align: center;
    }
    #responsiveLB {
        display: inline;
    }
    .learnMoreButton>p {
        font-size: 3vw;
    }
    .icon {
        width: 5vw;
        height: 5vw;
    }

}

/* PROJECTS PROJECTS PROJECTS PROJECTS *//* PROJECTS PROJECTS PROJECTS PROJECTS *//* PROJECTS PROJECTS PROJECTS PROJECTS */
#projects {
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#projectsBackground {
    top: 100vh;
    left: 0;
}

#projectsgrid {
    display: grid;
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    grid-template-rows: 1fr 5fr;
}

#projectsTitleText {
    text-align: center;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    grid-column: 1/2;
    font-size: 4em;
    /* border-right: 1px solid silver; */
    margin: 0;
    padding: 5vh 0;
}
#projectsTitleText::after {
    content: "";
    display: block;
    width: 65%;
    height: 5vh;
    margin: 0 auto;
    border-bottom: black solid 1.5px;
}

#projectsLeftCol {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* border-right: 1px solid silver; */
    /* background-color: lightgrey; */
}

.projectsButtons {
    width: 100%;
    font-family:  "Futura", Trebuchet MS, Arial, sans-serif;
    color: silver;
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
.projectsButtons:hover {
    background-color: white;
}
.projectsButtons.focused {
    color: black;
}

#projectsRightCol {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: silver solid 1px;
}

#projectName {
    margin: 0 auto 2.5vh auto;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    font-size: 2em;
}

#projectDes {
    margin: 20px auto;
    font-family:  "Futura", Trebuchet MS, Arial, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

#projectDis {
    margin: 0 auto;
    width: 45vw;
    height: 50vh;
    text-align: center;
}

#projectLink {
    text-decoration: none;
    margin: 2.5vh auto;
    width: 20vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: solid 2px black;
    font-size: 1.5em;
    color: black;
}
#projectLink:hover {
    color: black;
    background-color: white;
}
#projectLink:visited {
    color: black;
}

/*SKILLS SKILLS SKILLS SKILLS*//*SKILLS SKILLS SKILLS SKILLS*//*SKILLS SKILLS SKILLS SKILLS*/
#skills {
    position: absolute;
    left: 0;
    top: 200vh;
    width: 100vw;
    height: 180vh;
}

#skillsBackground {
    position: absolute;
    left: 0;
    top: 200vh;
    width: 100vw;
    height: 180vh;
    /* background-image: url("../img/background2.jpg"); */
}

#skillsTitle {
    text-align: center;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    grid-column: 1/3;
    font-size: 4em;
    margin-top: 0;
    color: black;
    position: absolute;
    top: 15vh;
    width: 100%;
}

#skillsgrid {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 30vh;
    left: 10vw;
    width: 80vw;
}
.skills {
    width: 20vw;
    height: 20vw;
    cursor: pointer;
}
.skills>img {
    position: relative;
    left: 2.5vw;
    top: 2.5vw;
    width: 15vw;
    height: 15vw;
}
.skillText {
    position: relative;
    top: -15vw;
    width: 100%;
    height: 100%;
    color: transparent;
    text-align: center;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
}

@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
    #skills {
        height: 100vh;
    }
    #skillsBackground {
        height: 100vh;
    }

    #skillsgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        left: 5vw;
        top: 25vh;
        column-gap: 10vw;
    }
    .skills {
        width: 40vw;
        height: 20vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .skills>img {
        position: static;
        width: 18vw;
        height: 18vw;
    }
    .skillText {
        position: static;
        width: 18vw;
        height: 18vw;
        color: black;
        top: 0;
        left: 0;
    }
}
/* #skill1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
#skill2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
#skill3 {
    grid-column: 3/4;
    grid-row: 1/2;
}
#skill4 {
    grid-column: 4/5;
    grid-row: 1/2;
}
#skill5 {
    grid-column: 5/6;
    grid-row: 1/2;
}
#skill6 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#skill7 {
    grid-column: 3/4;
    grid-row: 2/3;
}
#skill8 {
    grid-column: 4/5;
    grid-row: 2/3;
} */

/* resume resume resume res *//* resume resume resume res *//* resume resume resume res */
#resume {
    top: 300vh;
    left: 0;
}

#resumeBackground {
    top: 300vh;
    left: 0;
}
