@keyframes show {
    from {height: 0; margin-top: 0;}
    to {height: 12em; margin-top: 5vh;}
}

.graduallyShown {
    animation-name: show;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
