html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("./background2.jpg");
}

.navbar {
    /* background-color: rgb(227, 227, 227); */
    margin: 0 5vw;
    height: 10vh;
    /* border-bottom: silver solid 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    margin: 0 5vw;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1vw;
}

.leftCol {
    grid-column: 1/2;
    height: 100vh;
}

.rightCol {
    grid-column: 2/3;
    height: 100vh;
    padding: 0 2.5vw;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name>p {
    width: 100%;
    font-size: 5em;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    margin-bottom: 1vh;
    text-align: center;
    color: silver;
}

.contact>p {
    width: 100%;
    font-size: 1em;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    color: silver;
    margin: 5px 0;
    text-align: center;
}

.about>p {
    width: 100%;
    font-size: 1.5em;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    color: silver;
    margin-top: 5vh;
    text-align: justify;
    padding: 0 2.5vw;
}

.photoframe {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 100%;
}

.navButton {
    width: 8vw;
    margin: 0 1vw;
    font-family: "Futura", Trebuchet MS, Arial, sans-serif;
    font-size: 0.75em;
    height: 100%;
    align-items: center;
}

.navButton>h1 {
    font-weight: bold;
}

.navButton, .navButton:visited {
    text-decoration: none;
    color: silver;
}

.navButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
